.boton{
    padding: 1rem 2rem;
    margin-left: 2rem;
    margin-bottom: 2rem;
    border: none;
    color: #ffffff;
    display: flex;
    align-self: flex-end;
    border-radius: 1.5rem;
    box-shadow: 3px 3px 5px rgba(48, 42, 42, 0.562);
    color: #fff;
    cursor: pointer;
    background-size: 300%;
    transition: 0.6s;
    
    &1{
        background-image: linear-gradient(to left, #3AB4BC, #6A3ABC, #3AB4BC);
    }
    
    &2{
        background-image: linear-gradient(to left, #6A3ABC, #49BC3A, #6A3ABC);
    }
    
    &:hover{
        background-position: right;
    }
    & a:hover{
        color: #fff;
    }
}

.small_card{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    width: 250px;
    height: auto;
    margin-top: 2rem;
    
    &_content{
        width: 200px;
        height: 300px;
        margin: 20px;
        margin-bottom: 3px;
        border-radius: 1rem;
        background: #fff;
        box-shadow: 0px 1px 10px 5px rgba(0, 0, 0, 0.2);
        cursor: pointer;
        transition: all 400ms ease;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    
    &_content:hover{
        box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, 0.4);
        transform: translate(-2%);
    }
    
    &_img{
        height: 80%;
        width: 100%;
        overflow: hidden;    
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
    }
    
    &_img img{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    
    &_name{
        height: auto;
    }
    
    &_info{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        padding-left: 1.5rem;
        margin-top: .5rem;
    }
    
    &_colours{
        display: flex;
        align-items: center;
    }
}

