.destacados_index{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    gap: 2rem;
    margin-top: 5rem;
}


.margen_abajo{
    height: 30vh;
}

