.hero{
    display: flex;
    flex-direction: column;
  
    &_boton{
        display: flex;
        flex-flow: row wrap;
        margin-top: -15rem;
        margin-left: 2rem;
        margin-bottom: 8rem;
        gap: 2rem;
        z-index: 999;
    }
}

#carouselExampleIndicators{
    display: flex;
}