/* -----MEDIA QUERIES----- */

@media screen and (max-width: 767px){

    .hero{
        justify-content: center;
        height: 600px;
        background-position-y: 0px;
    }

    .button{
        padding: .5rem 1rem;
        margin: 1rem;
        margin-bottom: 2rem;
        background-size: 100%;
        }


    .diferenciales1{
        width: 80%;
    }

    .diferenciales-index{
        margin: .5rem;
        margin-top: 2rem;
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .diferenciales1{
        width: 100%;
        gap: 2rem;
        padding-bottom: 2rem;
    }
    
    .diferenciales2{
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        gap: .5rem;
        text-align: center;
    }

    .conteiner-products{
        margin-top: 2rem;
        margin-left: 6rem;
        justify-content: center;
    }

}






@media screen and (max-width: 425px){


    h4{
        padding: .5rem;
    }

    .div-nav{
        gap: 1rem;
    }

  .button{
    margin: .5rem;
    margin-bottom: 2rem;
    }

    .big_card{
        width: 300px;
    }
    
    .card_content{
        width: 250px;
        height: 300px;
    }
    
    .card_img{
        height: 80%;
        width: 100%;
        overflow: hidden;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
    }
    
    .conteiner-filter{
        margin: 0rem;
        margin-top: 8rem;
        padding: 1rem;
        position: fixed;
        display:flex;
        flex-flow:row wrap;
        justify-content: space-between;
        width:100%;
        height: 180px;
        background-color: #f1f1f1;
    }

    .conteiner-products{
        margin-top: 15rem;
        margin-left: 0rem;
        justify-content: center;
        
    }

}