/* -----MEDIA QUERIES----- */

//tablet

@media screen and (max-width: 768px){

    .hero{
        align-items: center;
        margin-top: 2rem;

        &_boton{
            margin-top: -8rem;
            margin-bottom: 1rem;
        }
    }

    .historia{

    
        &_contenido{
            padding-left: 0rem;
            padding-right: 0rem;
            margin: 1.5rem;
        }
    }

}


// mobile

@media screen and (max-width: 426px){

    .fixed-top{
        padding-left: 1rem;
        padding-right: 2rem;
        background-color: #212529;
    }

    .hero{
        align-items: center;
        flex-direction: column;
        margin-top: 5rem;

        &_boton{
            margin-top: 1rem;
            margin-bottom: 2rem;
            justify-content: center;
        }
    }

    .destacados_index{
        margin-top: 0rem;
    }

    .diferenciales_index {
        padding-left: 0rem;
        padding-right: 0rem;

    }


    .conteiner_filter{
        margin-top: 4rem;
        padding: 2rem;
        padding-left: 1rem;
        position: relative;
        display:flex;
        flex-flow:column wrap;
        height: auto;

        
        &_categoria{
            flex-direction: row;
            margin-bottom: 1.5rem;
            gap: 2rem;
            flex-wrap: wrap;
        }
    
        &_talla{
            flex-direction: row;
            margin-bottom: 1.5rem;
            gap: 2rem;
            flex-wrap: wrap;
        }
    
       &_color{
        flex-direction: row;
        margin-bottom: -1.5rem;
        gap: 2rem;
        flex-wrap: wrap;
        }
    }

    .conteiner_products{
        padding-top: 0rem;
        padding-left: 0px;
        margin-top: 0px;
    }

    .contacto{
        margin:.5rem;
        padding-top: 6rem;
    
        &_form{
            margin: 2rem;
        }
    }

}