


html{
    font-size: 62,5%;
    font-family: 'Source Sans Pro', sans-serif;
}

header{
    z-index: 9999;
}

h1{
    color: #3AB4BC;
    padding-bottom: 2rem;
    text-align: center;
}

h3{
    color: #3AB4BC;
    text-align: left;
    font-size: 1.5rem;
}

h4{
    color: #999999;
    padding: .5rem;
    text-align: center;
    font-size: .8rem;
}

footer{
    background-color: #303030;
    padding: 1rem 2em;
    display: flex; 
    flex-wrap: wrap; 
    flex-direction: row;  
    align-items:center; 
    align-content:-between;
    justify-content: space-between;
}

div a{
    text-decoration: none;
    color: #ffffff;
}


.tamano-logo{
    width: 170px;
    margin: .5rem;
    padding-left: 2rem;
}



#icono-carro{
    height: 2rem;
    filter: invert(0);
}

.iconBig{
    height: 4rem;
    width: 4rem;
}

.iconSmall{
    height: 2rem;
    width: 2rem;
    margin: .5rem
}

.icon-mini{
    height: 1rem;
    margin: .5rem
}

.hero{
    background-image:url(../img/809A9539.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
    background-position-x: center;
    display: flex;
    align-items: flex-end;
}

.hero-boton{
    display: flex;
    align-self: flex-end;
    flex-flow: row;
}



.destacados-index{
    background-color: #f1f1f1;
    padding: 1rem 2em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: auto;
}

.tarjetas-flexibles{
    grid-area: filter;
    margin-top: 5rem;
    margin-left: .5rem;
    margin-right: 2rem;
    padding: 2rem;
    position: fixed;
    display:flex;
    flex-flow:column wrap;
    height: 100%;
}

.margen-abajo{
    height: 30vh;
}

.big_card{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    width: 350px;
}

.card_content{
    width: 300px;
    height: 400px;
    margin: 20px;
    margin-bottom: 3px;
    border-radius: 1rem;
    box-shadow: 0px 1px 10px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: all 400ms ease;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.card_content:hover{
    box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, 0.4);
    transform: translate(-2%);
}

.card_img{
    height: 80%;
    width: 100%;
    overflow: hidden;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.card_img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.card_name{
    height: auto;
}

.card_info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 1.5rem;
    padding-right: 2rem;
    margin-bottom: 2rem;
}

.card_colours{
    display: flex;
    align-items: center;
}

.colour_royalBlue{
    height: 10px;
    width: 10px;
    background-color: royalblue;
    border-radius: 100%;
    margin: .2rem
}

.colour_rojo{
    height: 10px;
    width: 10px;
    background-color: red;
    border-radius: 100%;
    margin: .2rem
}

.colour_gris{
    height: 10px;
    width: 10px;
    background-color: grey;
    border-radius: 100%;
    margin: .2rem
}

.colour_verde{
    height: 10px;
    width: 10px;
    background-color: green;
    border-radius: 100%;
    margin: .2rem
}

.diferenciales-index{
    margin: 2rem;
    padding-left: 4rem;
    padding-right: 4rem;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.diferenciales1{
    display: flex;
    flex-flow: row wrap;
    justify-content:space-around;
    width: 100%;
    gap: 2rem;
    padding: 2rem
}

.diferenciales2{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    gap: .5rem;
    text-align: center;
}

.contenedor-filter{
    height: 40vh;
    padding: 2rem;
    padding-top: 5rem;
}

.itemConteiner{
    background-color: #f1f1f1;
    padding: 1rem 2em;
    display: flex;
    flex-wrap: wrap; 
    width: 100%;
    height: auto;
    align-items: center;
}


.conteiner-filter{
    grid-area: filter;
    margin-top: 7rem;
    margin-left: .5rem;
    margin-right: 2rem;
    padding: 2rem;
    position: fixed;
    display:flex;
    flex-flow:column wrap;
    height: 100%;
}

.conteiner-filter-categoria{
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

.conteiner-filter-talla{
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem
}

.conteiner-filter-color{
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem
}

.conteiner-filter-color-juntos{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.conteiner-products{
    grid-area: products;
    padding-left: 2rem;
    padding-bottom: 2rem;
    padding-top: 3rem;
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
    background-color: #ffffff;
    justify-content: center;
    margin-top: 5rem;
}



.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    padding-right: 0px;
    padding-left: 0px;
}