@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600;700;800;900&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.boton_primario {
  padding: 1rem 1.5rem;
  border: none;
  background-image: -webkit-gradient(linear, right top, left top, from(#3AB4BC), color-stop(#6A3ABC), to(#3AB4BC));
  background-image: linear-gradient(to left, #3AB4BC, #6A3ABC, #3AB4BC);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: end;
      align-self: flex-end;
  border-radius: 3rem;
  -webkit-box-shadow: 3px 3px 5px rgba(48, 42, 42, 0.562);
          box-shadow: 3px 3px 5px rgba(48, 42, 42, 0.562);
  color: #ffff;
  cursor: pointer;
  background-size: 300%;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.boton_primario:hover {
  background-position: right;
}

.boton_primario a:hover {
  color: #ffff;
}

.big_card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 250px;
}

.big_card_content {
  width: 200px;
  height: 300px;
  margin: 20px;
  margin-bottom: 3px;
  border-radius: 1rem;
  -webkit-box-shadow: 0px 1px 10px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 10px 5px rgba(0, 0, 0, 0.2);
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.big_card_content:hover {
  -webkit-box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, 0.1);
  -webkit-transform: translate(-2%);
          transform: translate(-2%);
}

.big_card_img {
  height: 80%;
  overflow: hidden;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.big_card_img img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.big_card_name {
  height: auto;
}

.big_card_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-bottom: 2rem;
}

.big_card_colours {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.big_card_price {
  padding-right: 1rem;
}

.small_card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 200px;
  margin: 2rem;
  margin-bottom: 0rem;
}

.small_card_content {
  width: 200px;
  height: 400px;
  margin: 20px;
  margin-bottom: 3px;
  border-radius: 1rem;
  -webkit-box-shadow: 0px 1px 10px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 10px 5px rgba(0, 0, 0, 0.2);
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.small_card_content:hover {
  -webkit-box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, 0.1);
  -webkit-transform: translate(-2%);
          transform: translate(-2%);
}

.small_card_img {
  height: 80%;
  overflow: hidden;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.small_card_img img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.small_card_name {
  height: auto;
}

.small_card_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-top: .5rem;
}

.small_card_colours {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.small_card_price {
  padding-right: 1rem;
}

.iconBig {
  height: 4rem;
  width: 4rem;
}

.iconSmall {
  height: 2rem;
  width: 2rem;
  margin: .5rem;
}

.icon-mini {
  height: 1rem;
  margin: .5rem;
}

.pelotacolor_royalBlue {
  height: 10px;
  width: 10px;
  border-radius: 100%;
  margin: .2rem;
  background-color: royalblue;
}

.pelotacolor_rojo {
  height: 10px;
  width: 10px;
  border-radius: 100%;
  margin: .2rem;
  background-color: red;
}

.pelotacolor_gris {
  height: 10px;
  width: 10px;
  border-radius: 100%;
  margin: .2rem;
  background-color: grey;
}

.pelotacolor_verde {
  height: 10px;
  width: 10px;
  border-radius: 100%;
  margin: .2rem;
  background-color: green;
}

#navbarNavAltMarkup {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

div a {
  text-decoration: none;
  color: #ffff;
  margin: .2rem;
}

header {
  z-index: 9999;
}

.fixed-top {
  padding-left: 3rem;
  padding-right: 3rem;
  background-color: #212529;
}

.header_logo {
  width: 150px;
}

.nav-link active {
  color: #55d3ce;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hero_boton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  margin-top: -15rem;
  margin-left: 2rem;
  margin-bottom: 8rem;
  gap: 2rem;
  z-index: 999;
}

#carouselExampleIndicators {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.destacados_index {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2rem;
  margin-top: 5rem;
}

.margen_abajo {
  height: 30vh;
}

.diferenciales_index {
  margin: 2rem;
  padding-left: 4rem;
  padding-right: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
}

.diferenciales_index_2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: .5rem;
  text-align: center;
}

.footer {
  width: 100%;
  background-color: #303030;
  padding: 1rem 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: -between;
      align-content: -between;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

html {
  font-size: 62,5%;
  font-family: 'Source Sans Pro', sans-serif;
}

h1 {
  color: #5a51b4;
  padding-bottom: 2rem;
  text-align: center;
  font-size: xx-large;
}

h2 {
  color: #5a51b4;
  text-align: left;
  font-size: 1.5rem;
  font-size: xx-large;
}

h3 {
  color: #55d3ce;
  text-align: left;
  font-size: larger;
}

h4 {
  color: #303030;
  padding: .5rem;
  text-align: center;
  font-size: small;
}

p {
  color: #303030;
  font-size: medium;
}

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
  padding-right: 0px;
  padding-left: 0px;
}

.conteiner_filter {
  margin-top: 5rem;
  padding-top: 1rem;
  padding-bottom: 2rem;
  padding-left: 3rem;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  height: 100%;
}

.conteiner_filter_categoria {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 2rem;
}

.conteiner_filter_talla {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 2rem;
}

.conteiner_filter_color {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 2rem;
}

.conteiner_filter_color_juntos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.conteiner_products {
  padding-bottom: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  overflow-y: scroll;
  background-color: #ffffff;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  margin-top: 5rem;
}

.row {
  margin-right: calc(-0 * var(--bs-gutter-x));
}

.historia {
  background-color: #f1f1f1;
  margin-top: 5rem;
  padding-bottom: 2rem;
}

.historia_contenido {
  padding-left: 1rem;
  padding-right: 1rem;
  margin: 4rem;
}

.contacto {
  margin: 8rem;
}

.contacto_form {
  margin: 2rem;
}

/* -----MEDIA QUERIES----- */
@media screen and (max-width: 768px) {
  .hero {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 2rem;
  }
  .hero_boton {
    margin-top: -8rem;
    margin-bottom: 1rem;
  }
  .historia_contenido {
    padding-left: 0rem;
    padding-right: 0rem;
    margin: 1.5rem;
  }
}

@media screen and (max-width: 426px) {
  .fixed-top {
    padding-left: 1rem;
    padding-right: 2rem;
    background-color: #212529;
  }
  .hero {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 5rem;
  }
  .hero_boton {
    margin-top: 1rem;
    margin-bottom: 2rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .destacados_index {
    margin-top: 0rem;
  }
  .diferenciales_index {
    padding-left: 0rem;
    padding-right: 0rem;
  }
  .conteiner_filter {
    margin-top: 4rem;
    padding: 2rem;
    padding-left: 1rem;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    height: auto;
  }
  .conteiner_filter_categoria {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-bottom: 1.5rem;
    gap: 2rem;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .conteiner_filter_talla {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-bottom: 1.5rem;
    gap: 2rem;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .conteiner_filter_color {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-bottom: -1.5rem;
    gap: 2rem;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .conteiner_products {
    padding-top: 0rem;
    padding-left: 0px;
    margin-top: 0px;
  }
  .contacto {
    margin: .5rem;
    padding-top: 6rem;
  }
  .contacto_form {
    margin: 2rem;
  }
}
/*# sourceMappingURL=main.css.map */